<mat-sidenav-container  fullscreen >


  <mat-sidenav #sidenav mode="push" >

    <mat-toolbar>
      <span>Menú </span>
      <button (click)="sidenav.toggle()"  mat-icon-button >
        <mat-icon> menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/heroes/listado">
        <mat-icon mat-list-icon>label</mat-icon>
        <span (click)="sidenav.toggle()">  Listado de héroes</span>
      </a>

      <a mat-list-item routerLink="/heroes/agregar">
        <mat-icon mat-list-icon>add</mat-icon>
        <span (click)="sidenav.toggle()">Agregar héroes</span>
      </a>

      <a mat-list-item routerLink="./buscar">
        <mat-icon mat-list-icon>search</mat-icon>
        <span (click)="sidenav.toggle()">Buscar héroes</span>
      </a>

     </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>
    <button (click)="sidenav.toggle()"  mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>

    <span  class="spacer"></span>

    <button mat-button >
      Logout
    </button>
  </mat-toolbar>

  <div class="container">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>

